<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yao1.component" >
<permission android:name="com.example.yao1.component.permission.MyAty"></permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <intent-filter>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="com.example.yao1.component.intent.action.MainLog"/>
        </intent-filter>
        <activity android:name=".ComentActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyAty"
            android:label="@string/title_activity_my_aty"
            android:permission="com.example.yao1.component.permission.MyAty"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
